.wrapper {
    width: 1000px;
    margin: 10px auto;
}

.table-striped {
    border: 1px solid black;
    border-collapse: collapse;
}

.boards-num {
    width: 50px;
}

.boards-title {
    width: 500px;
    text-align: center;
}

.boards-writer {
    width: 150px;
    text-align: center;
}

.boards-createdate {
    text-align: center;
}

.boards-tableTbody {
    font-size: 14px;
}

.write-btn {
    margin-right: 230px;
}

.pagination li {
    display: inline;
}

.pagination a {
    display: inline-block;
}

.one-board {
    width: 700px;
    margin: auto;
}

.update-board {
    width: 700px;
    margin: auto;
}

.board-table {
    border: 1px solid black;
}