<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>게시판 수정 페이지</title>
</head>
<body>
<div class="wrapper">
    <div class="update-board" id="update-board">
        <form th:action method="post">
            <label class="col-sm-2 col-form-label">제목</label>
            <input type="text" class="form-control" name="title" id="title" th:value="${board.title}">

            <label class="col-sm-2 col-form-label">작성자</label>
            <input class="form-control" name="writer" id="writer" type="text" th:value="${board.writer}" disabled readonly>

            <label class="col-sm-2 col-form-label">내용</label>
            <textarea class="form-control" name="contents" id="contents" th:text="${board.contents}" rows="10"></textarea>

            <button type="submit" class="btn btn-primary">저장</button>
        </form>
        <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/{id}(id=${board.id})}'|" >취소</button>
    </div>

</div>
</body>
</html>