<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script>
        $(document).ready(function () {
            let msg = '[[${msg}]]'
            if (msg != '') {
                if (msg.startsWith("중복된")) {
                    $('#username-field-text').empty()
                    $('#username-field').empty()
                    $('#username-field-text').text(msg)
                }

                if (msg.startsWith("비밀번호")) {
                    $('#password-field-text').empty()
                    $('#password-field').empty()
                    $('#password-field-text').text(msg)
                }
            }
        })

        function onclickAdmin() {
            // Get the checkbox
            var checkBox = document.getElementById("admin-check");
            // Get the output text
            var box = document.getElementById("admin-token");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }
    </script>
</head>
<body>
<div class="wrapper">
    <div id="login-form">
        <form th:action="@{/member/signup}" method="post" th:object="${memberSignupDto}">
            <div class="login-id-label">Username</div>
            <input type="text" name="username" placeholder="Username" class="login-input-box" th:field="*{username}">
            <p id="username-field" name="username-field" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            <p id="username-field-text" name="username-field-text"></p>

            <div class="login-id-label">Password</div>
            <input type="password" name="password" class="login-input-box" th:field="*{password}">
            <p id="password-field" name="password-field" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            <p id="password-field-text" name="password-field-text"></p>

            <div class="login-id-label">Password 확인</div>
            <input type="password" name="passwordOnemore" class="login-input-box">

            <div class="login-id-label">E-mail</div>
            <input type="text" name="email" placeholder="E-mail" class="login-input-box" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <button id="login-id-submit">회원 가입</button>
        </form>
    </div>
</div>
</body>
</html>